{%- extends "layout.html" -%}
{%- block title -%}
  KingTable - colors demo with client side pagination (whole collection in memory, obtained after delay)
{%- endblock -%}
{%- block body -%}
  {% include "partials/controls.html" %}
  <pre id="main"></pre>
{%- endblock -%}
{%- block js -%}
  <script src="scripts/colors.js"></script>
  <script>
  (function () {
    var table = window.table = new KingTable({
      caption: "KingTable - colors demo with client side pagination (whole collection in memory, obtained after delay)",
      element: document.getElementById("main"),
      builder: "text"
    }, {
      getFetchPromise: function (params) {
        return new Promise(function (resolve, reject) {
          setTimeout(function () {
            resolve(COLORS);
          }, 5000);
        });
      }
    });

    table.render().then(function () {
      console.log("ok :)");
    }, function () {
      console.log("noo :(");
    });
  })();
  </script>
  <script src="scripts/example-controls.js"></script>
{%- endblock -%}
