{%- extends "layout.html" -%}
{%- block title -%}
  KingTable colors demo
{%- endblock -%}
{%- block body -%}
  {% include "partials/controls.html" %}
  <div id="main"></div>
{%- endblock -%}
{%- block js -%}
  <script>
  (function () {
    var table = window.table = new KingTable({
      url: "/api/colors",
      caption: "KingTable - colors demo with server side pagination (paginated set in memory)",
      element: document.getElementById("main"),
      builder: "html",
      columns: {
        "color": {
          name: "Color",
          html: function (item, value) {
            return "<span class=\"kt-color\" style=\"background-color:" + value + "\"></span><span class=\"kt-color-hex\">" + this.highlight(value) + "</span>";
          }
        }
      }
    });

    table.render().then(function () {
      console.log("ok :)");
    }, function () {
      console.log("noo :(");
    });
  })();
  </script>
  <script src="scripts/example-controls.js"></script>
{%- endblock -%}
