<div class="theme-region">
  <label for="theme">Theme: </label>
  <select id="theme">
    <option value="theme-flatwhite" selected="selected">Flat white</option>
    <option value="theme-flatblack">Flat black</option>
    <option value="theme-clear">Clear</option>
    <option value="theme-dark">Dark</option>
    <option value="theme-midnight">Midnight</option>
  </select>
  <script>
    (function () {
      var a = document.getElementById("theme");
      a.addEventListener("change", function (e) {
        var v = a.value;
        document.body.className = v;
      }, true);
    })();
  </script>
</div>